@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
.main{
    /* border: 2px solid green; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: flex-start;
    /* height: ; */
}
.description{
    
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
    background: transparent;
    padding: 40px 0px;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: row;
    /* flex-wrap: wrap; */    
}
.head{
    /* border: 1px solid blue; */
    margin: 10px 0px 0px 90px;
    font-size: 2.5rem;
}
.left, .right{
    /* border: 1px solid blue; */
    height: 100%;
    
    /* width: 100%; */
}
.left{
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    height: 100%;
    padding: 30px;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}
.back{
    border: 10px solid #000;
    /* position: absolute; */
    bottom: -20px;
    height: 400px;
    width: 400px;
}
.front{
    position: relative;
    bottom: 20px;
    right: 20px;
    /* border: 5px solid #000; */
    background: #fff;
    /* color: rgb(182, 110, 21); */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 30px 0px 0px;

    width: 100%;
}
.innerhead{
    margin: 0px 0px 40px 0px;
    font-size: 2rem;
}
.p{
    text-align: justify;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.1rem;
    line-height: 2rem;
    width: 70%;
}
.biodata{
    /* border: 1px solid red; */
    width: 100%;
    height: 40%;
    margin: 30px 0px 0px 0px;
    display: grid;
    grid-template-columns: auto auto ;
    align-items: center;
    row-gap: 40px;
}
.biodata>button{
    width: 45%;
    height: 50px;
    
    background: #e65f78;
    border: none;
}
.biodata>button>a{
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}
.info{
    display: flex;
    align-items: center;
    height: 100%;
}
.info>b>span{
    font-size: 16px;
    font-weight: normal;
}
.info>b{
    font-size: 1rem;
    font-family:Arial, Helvetica, sans-serif;
}
.info>img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    /* border: 1px solid green; */
    /* color: ; */
    margin: 0px 10px 0px 0px;
}
@media screen and (max-width:1106px) {
    .description{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 500px;
        background: transparent;
        padding: 40px 0px;
        width: 100%;
        height: 100%;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;   
    }
    .front{
        bottom: 0px;
        right: 0px;
    }
    .back{
        border: none;
    }
    .left{
        justify-content: flex-start;
        padding: 0px 0px 0px 50px;
    }
    .right{
        padding: 50px;
    }
    .info{
        row-gap: 10px;
    }
    .biodata{
        row-gap: 40px;
    }
    .biodata>button{
        margin: 30px 0px 0px 0px ;
    }
}