*{
    padding: 0px;
    margin: 0px;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    width: 15%;
    height: 50px;


}
.main:hover{
    color: rgb(185, 66, 66);
    /* background: rgb(14, 67, 110); */
    /* border: 1px solid rgb(14, 67, 110) ; */
    
}
.link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    /* border: 1px solid green; */
    font-size: 17px;
    font-weight: 500;
    color: #000;
    width: 100%;
    /* height: 100%; */
}
.link:hover{
    transition: 0.5s;
    color: #e65f78;
}