@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');
*{
    padding: 0px;
    margin-top: 0px;
}
.main{
    /* border: 1px solid rgb(49, 45, 45); */
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 400px;

    box-shadow: 0 0 20px rgb(0 0 0 / 9%);
    /* box-shadow: 2px 4px 8px salmon;. */
}
.main:hover{
    transition: 0.8s;
    box-shadow: 0 0 20px rgb(0 0 0 / 50%);
}
.main>img{
    width: 60px;
    margin: 0px 0px 20px 0px;
}
.main>h4{
    position: relative;
    /* border: 1px solid green; */
    color: black;
    text-align: left;
    margin: 0px 0px 30px 0px;
}
.main>p{
    text-align: left;
    line-height: 2;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    word-wrap: normal;
    color: black;

}